services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - {{ sites_path }}/etc/nginx/sites-enabled/:/etc/nginx/sites-enabled/:ro
      - {{ sites_path }}/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - {{ sites_path }}/var/www/:/var/www/
      - {{ certbot_path }}/letsencrypt:/etc/letsencrypt
      - {{ certbot_path }}/www:/var/www/certbot
{% for project in projects %}
{% if project.media_volume | d(false) %}
      - media_volume-{{ project.name }}:/apps/{{ project.domain }}/media
{% endif %}
{% endfor %}
    networks:
      - nginx-network

{% for project in projects if project.media_volume | d(false) %}
{% if loop.first %}
volumes:
{% endif %}
  media_volume-{{ project.name }}:
    name: "media_volume-{{ project.name }}"
{% endfor %}

networks:
  nginx-network:
    name: nginx-network
