services:
  certbot:
    image: certbot/certbot
    container_name: certbot-{{ domain }}
    volumes:
      - {{ certbot_path }}/letsencrypt:/etc/letsencrypt
      - {{ certbot_path }}/www:/var/www/certbot
    command: certonly --noninteractive --webroot --webroot-path=/var/www/certbot --email {{ certbot_email }} --agree-tos --no-eff-email --force-renewal -d {{ domain }}
  
  certbot-staging:
    image: certbot/certbot
    container_name: certbot-staging-{{ domain }}
    volumes:
      - {{ certbot_path }}/letsencrypt:/etc/letsencrypt
      - {{ certbot_path }}/www:/var/www/certbot
    command: certonly --noninteractive --webroot --webroot-path=/var/www/certbot --email {{ certbot_email }} --agree-tos --no-eff-email --staging --force-renewal --break-my-certs -d {{ domain }}
  
  certbot-renewal:
    image: certbot/certbot
    container_name: certbot-renewal-{{ domain }}
    restart: always
    volumes:
      - {{ certbot_path }}/letsencrypt:/etc/letsencrypt
      - {{ certbot_path }}/www:/var/www/certbot
    entrypoint: /bin/sh
    command: -c "trap exit TERM; while :; do certbot renew --cert-name {{ domain }} ; sleep 12h & wait $${!}; done;"